html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: oldlace;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    font-size: 50px;
    display: flex;
    justify-content: center;
    border: double;
    border-color: blueviolet;
}
.button {
    block-size: max-content;
    border: groove;
    color: black;
    border-color: blueviolet;
    border-radius: 10px;
    background-color: aqua;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table{
    border-style: dotted;
    border-color: blueviolet;
}